
<html>
<h1>hello, my ansible basic</h1>
<h1> Vars value named ansible_fqdn for host is: {{ ansible_fqdn }} </h1>
<h2> {{ ansible_hostname }} interfaces:

	{{ ansible_ip_addresses }} </h2>

<h2> OS on host:  {{ ansible_os_name }} </h2>

<h2> bios ver: {{ ansible_bios_date }} </h2>
</html>
