---
- name: test do zmiennej 
  hosts: w1
  tasks:
  - name: zmienna
    shell: whoami
    register: moj_login

    #  - debug:
    #  var: moj_login.stdout

  - name: print
    shell: |
      echo 'czest tu ' {{ moj_login.stdout }}
    environment:
            moj_login: "{{ moj_login.stdout }}"

    register: test


  - debug:
      var: test.stdout


