<html>
<head><title>Hello from Ansible!!</title></head>
<body>
<H1>Congratulations!</h1>
<p>Cool website created by ansible Playbook. GOOD FU... JOB!!</p>
<p>Your text from ansible var_prompt name: web_index:  {{ web_index }} </p> 
</body>
</html>
